[submodule "addons/ofxFenster"]
	path = addons/ofxFenster
	url = https://github.com/underdoeg/ofxFenster.git
[submodule "addons/ofxDrawnetic"]
	path = addons/ofxDrawnetic
	url = ../../rezaali/ofxDrawnetic.git
[submodule "addons/ofxGenerative"]
	path = addons/ofxGenerative
	url = ../../rezaali/ofxGenerative.git
